
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #241f1f;
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    text-align: center;
    color: #ffffff;
}

.heading {
    font-weight: bold;
    letter-spacing: 7px;
    font-size: 1.8rem;
    padding: 20px 0px 10px 0px;
    color: #ffffff;
}

.parrafo {
    padding: 20px 40px 20px 40px;
    background-color: #000000 ;
}

section {
    background: #241f1f;
}






/* -------------Estilo para los albumes------------- */
.titulo-album {
    font-size: 2.5rem;
    font-weight: normal;
    color: #ffffff;
    text-align: center;
    font-weight: 600;
    /* margen superior de los tituos */
    padding-top: 2rem;    
}

/* Estilo para el titulo y el año en los albumes */
.fire2 {
    color: #ffffff;
    text-shadow:
        0 3px 20px red,
        0 0 20px red,
        0 0 10px orange,
        4px -5px 6px yellow,
        -4px -10px 10px yellow,
        0 -10px 30px yellow;
}

/* -----------------Color de fondo y margen ionferior de las secciones-------------------- */
.classContenedora {
    
    padding-bottom: 2.5rem;
    
}

/*------------------------------------------------------------------------------------*/

/* Hacemos que la fila ocupe un 90% de la pantalla con un ancho maximo y centrado */
.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 80rem;
}

/* Aplicamos flex a las columnas y centramos */
.cols {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

/* Colocamos en linea con un determinado ancho las imagenes con una separacion de 1rem */
.col {
    width: calc(33.333333% - 2rem);
    margin: 1rem;
    cursor: pointer;
}

/* Posicionamos los elementos hijos en un espacio 3d */
.container {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1000px;
    /* Le ponemos perpestiva, distancia entre el eje z y el usuario */
    perspective: 1000px;
}


.front,
.back {
    background-size: cover;
    /* Borde o sombra de la imagen */
    box-shadow: 0 4px 8px 0 orange;
    border-radius: 10px;
    background-position: center;
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1),
        -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;  
   
    /* Altura minima de la imagen */
    min-height: 320px;
    height: auto;
    
}

/* Color de la parte trasera de la imagen */
.back {
    background: #cedce7;
    background: -webkit-linear-gradient(45deg, #cedce7 0%, #596a72 100%);
    background: -o-linear-gradient(45deg, #cedce7 0%, #596a72 100%);
    background: linear-gradient(45deg, #cedce7 0%, #596a72 100%);
    font-size: 1.6rem;
    text-align: center;
}

/* .front:after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
} */

.container:hover .front,
.container:hover .back {
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back {
    background: linear-gradient(45deg, #cedce7 0%, #596a72 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.inner {
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
    transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 1rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
    perspective: inherit;
    z-index: 2;
}

.container .back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.container .front {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.container:hover .back {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.container:hover .front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.back .inner p {
    font-size: 2rem;
    margin-bottom: 2rem;
    position: relative;
}

.back .inner p:after {
    content: '';
    width: 4rem;
    height: 4px;
    position: absolute;
    background: #ec0707;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -.75rem;
}


.front .inner span {
    /* color: rgba(255, 255, 255, 0.7); */
    font-weight: 300;
} 
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/


/* Estilos para el boton editar album y el icono de borrar */
.editarBorrar {
    display: flex;
    justify-content: space-around;
    /* padding-top: 25px; */
    font-size: 20px;
    /* Color de texto del boton*/
    color: #ffffff;    
} 

.editar a, .borrar a {
    position: absolute;
    top: 270px; 
    padding: 10px 10px 10px 10px; 
    /* margin: 20px 0px; */
    background-color: #e96767;
    /* Le quito el borde por defecto */
    border: none;
    /* Borde redondeado del boton */
    border-radius: 10px;
    /* Color de texto del boton*/
    color: #000000; 
    /* Tamaño de la funte del boton*/
    font-size: 1rem;
    /* Peso de la fuente , gruesita */
    font-weight: bold;
    /* Cambio del cursor al a ser foco */
    cursor: pointer;
    transition: .1s ease all;
}


/* Estado del hover, para la transicion del boton */
.editar a:hover, .borrar a:hover {
    color: #fff;
    background: #ec0707;
    box-shadow: 0 0 5px #ec0707, 0 0 25px #ec0707, 0 0 50px #ec0707,
        0 0 100px #ec0707;
}

/* --------------------Puntos de corte----------------------------------- */
 @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .col {
        width: calc(50% - 2rem);
    }
} 

@media only screen and (min-width: 600px) and (max-width: 767px) {
    .col {
        width: 100%; 
        /* width: calc(50% - 2rem);  */
    }
}

@media screen and (max-width: 599px) {
    .col {
        width: 100%;
        margin: 0 0 2rem 0;
    }
} 
